registry=https://registry.aws.itential.com/repository/itential/
//registry.aws.itential.com/repository/itential/:_authToken=NpmToken.${NPMRC_TOKEN}
//registry.aws.itential.com/repository/itential-internal/:_authToken=NpmToken.${NPMRC_TOKEN}
//registry.aws.itential.com/repository/npmjs_official/:_authToken=NpmToken.${NPMRC_TOKEN}
@itential:registry=https://registry.aws.itential.com/repository/itential-internal/
//registry.npmjs.org/:_authToken=${ARGO_NPMRC_TOKEN}
scope=@itentialopensource
//@itentialopensource:registry=http://registry.npmjs.org